<%- include("partials/header"); -%>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <img src="../img/UWTacoma.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-8 narrative">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="../img/WSU.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-8 narrative">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
  <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div>
</div>

<%- include("partials/footer"); -%>
