<%- include("partials/header"); -%>
<section class="about">


<div class="container-fluid">
  <div class="row title">
    <h2>Education</h2>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="../img/UWTacoma.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-8 narrative">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img src="../img/WSU.jpg" alt="..." class="img-thumbnail">
    </div>
    <div class="col-sm-8 narrative">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
</div>
</section>
<%- include("partials/footer"); -%>
