* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* navbar */
.navbar2 {
  background-color: #1d1919;
}
.nav li {
  display: inline-block;
  margin-left: 2rem;
}

.nav li a:link, .nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.nav li a:hover, .nav li a:active {
  border-bottom: 2px solid #ffce76;
}
/* buttons */
.btn-hero {
  background-color: #ffce76;
  color: #fff;
}
/* Sections */

.hero-section {
background-image: linear-gradient(rgba(0,0,0,0.3), rgba(192,192,192,0.2)), url(../img/bmwracer.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100vh;
}

.hero-section h1{
  color: #ffce76;
}
.hero-section p {
  color: #fff;
}

.hero-text-box {
 position: absolute;
 width: 1140px;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}



/* footer */
.footer-nav {
  background-color: #1d1919;
  padding: 40px;
  font-size: 80%;
  color: #fff;
  text-align: center;
}
